/* 
Datetime css
    Created on : 28-May-2018, 22:27:53
    Author     : chris
*/
    .div {
        border: none;
        margin: 0; padding: 0;
    }
    #container {
        width: 250px;
        height: 35px;
        font-size: 12px;
        vertical-align: middle;
        border: thin solid darkgrey;
        display: block;
    }
    #input-div, #arrow-div, #left-arrow, #right-arrow {
        display: table-cell;
        vertical-align: middle;
    }
    #input-div {
        width: 60%;
        height: 35px;
    }
    #arrow-div {
        width: 40%;
        height: 35px;
    }
    #header-txt {
        vertical-align: middle;
        text-align: center;
    }
    #arrows {
        font-size: 24px;
        text-align: center;
    }
    #left-arrow, #right-arrow {
        width: 50%;
        height:25px;
        float: left;
        text-align: center;
        display: inline;
    }
    #la, #ra {
        height: 25px;
        margin: 0; padding: 0;
        vertical-align:top;
        cursor: pointer;
    }
